# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# Build output
dist/
build/
.next/
out/
.cache/
.vite/

# Coverage
coverage/

# Vercel
.vercel/

# Misc
.DS_Store
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
*.swp
*.bak
*.tmp
*.log

# Parcel cache
.cache/

# Firebase
.firebase/

# MacOS system files
*.DS_Store

# Yarn Integrity
.yarn-integrity

# npm package locks
package-lock.json
yarn.lock
pnpm-lock.yaml

# React Native
.expo/
